<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>comboTechniques</param-name>
        <param-value>comboTehniques.properties</param-value>
    </context-param>
    <context-param>
        <param-name>detectionTools</param-name>
        <param-value>detectionToolsConfiguration.properties</param-value>
    </context-param>
    <context-param>
        <param-name>templateExlusion</param-name>
        <param-value>templateExclusionConfiguration.properties</param-value>
    </context-param>
    <context-param>
        <param-name>defaultWorkingDir</param-name>
        <param-value>/home/matnovak/phd/studentDatasetsWorking</param-value>
    </context-param>
    <context-param>
        <param-name>defaultSourceDir</param-name>
        <param-value>/home/matnovak/phd/studentDatasetsTestAll</param-value>
    </context-param>
    <context-param>
        <param-name>defaultInputDirPath</param-name>
        <param-value>/home/matnovak/phd/studentDatasetsTestAll/NWTiS/2013-2014/DZ1</param-value>
    </context-param>
    <context-param>
        <param-name>defaultWorkingDirSOCO</param-name>
        <param-value>/home/matnovak/phd/studentDatasetsWorking</param-value>
    </context-param>
    <context-param>
        <param-name>defaultSourceDirSOCO</param-name>
        <param-value>/home/matnovak/phd/socoDatasetsPhD</param-value>
    </context-param>
    <context-param>
        <param-name>defaultInputDirPathSOCO</param-name>
        <param-value>/home/matnovak/phd/socoDatasetsPhD/SOCO/TEST/C2</param-value>
    </context-param>
    <context-param>
        <param-name>defaultInputDirDepth</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>useDefaultSOCOInSummaryReport</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>useDefaultSOCOInStatisticReport</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>analysisMode</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>consolePrint</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>matchesThreadRead</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>WebGUI admin</display-name>
        <web-resource-collection>
            <web-resource-name>WebGui-Admin</web-resource-name>
            <description/>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>WebGUI-Admin</description>
            <role-name>plagijati</role-name>
        </auth-constraint>
    </security-constraint>
   <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>WebGUI - BASIC</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>plagijati</role-name>
    </security-role>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
